$bgColor: #ebecf0;;
$textColor: #000;
.add__block{
  position: sticky;
  bottom: 0;
  border-radius: 3px;

  background-color: $bgColor;

  &:hover{
    background-color: lighten($bgColor, 10%);
  }
}
.add__button{
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;

  font-family: 'Roboto', sans-serif;
  color: $textColor;
  outline: none;
  border: 0;
  border-radius: 3px;
  background-color: $bgColor;

  &:before{
    content: "";
    position: absolute;
    left: 15px;
    top: 10px;
    width: 15px;
    height: 15px;
    background-image: url("../../assets/img/plus.svg");
  }

  &:hover{
    background-color: lighten($bgColor, 10%);
    color: lighten($textColor, 15%);

    &:before{
      filter: opacity(0.8);
    }
  }
}

.add__form-block{
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
}
.add__column{
  margin-left: 20px;
  width: 250px;

  border-radius: 3px;
  background-color: $bgColor;
  box-shadow: 2px 4px 6px 0px;
}
.add__input{
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 15px;

  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
  outline: none;
  resize: none;
}
.add__new-btn{
  width: 150px;
  height: 35px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  border-color: #6fb17d;
  outline: none;
  border-radius: 3px;

  &:hover{
    background-color: rgb(97, 189, 79);
  }
}
.add__new-close{
  position: absolute;
  right: 12px;
  bottom: 35px;

  border: none;
  background: none;
  outline: none;
}
.add__new-cancel-icon{
  width: 15px;
  filter: opacity(0.3);
  &:hover{
    filter: opacity(1);
  }
}
.add__opened {
  &:hover {
    background-color: $bgColor;
    color: $textColor;

    &:before {
      filter: opacity(1);
    }
  }
}