.column{
    position: relative;

    padding: 10px 0 0 0;
    margin-left: 20px;
    width: 250px;

    border-radius: 3px;
    background-color: #c1c1c1;
    box-shadow: 2px 4px 6px 0px;
}

.column__header{
    text-align: left;
    text-transform: capitalize;
    padding: 10px;
    margin: 0;
}