* {
    box-sizing: border-box;
}

body, html{
    padding: 0;
    margin: 0;
}

.main-screen{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100vh;
    background-image: url("../../assets/img/100 Best Wallpapers 11 1920x1080 (2).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    padding: 8px 10px;
    margin: 0 10px;

    border-radius: 3px;
    margin-bottom: 8px;
    background-color: white;
}
