* {
    box-sizing: border-box;
}

body, html{
    padding: 0;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.main-screen{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    height: 100vh;
    background-image: url("../../assets/img/vintage-wallpaper.png");
    background-repeat: repeat;
    overflow-x: auto;
    overflow-y: hidden;
}


