.card{
  position: relative;
  padding: 8px 10px;
  margin: 0 10px;
  min-height: 20px;

  word-wrap: break-word;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  border-radius: 3px;
  margin-bottom: 8px;
  background-color: white;
  &:hover{
    .card__delete{
      opacity: 1;
    }
  }
}

.card__delete{
  position: absolute;
  right: 5px;
  top: 5px;
  margin: 0;
  padding: 0;

  opacity: 0;
  border: none;
  background: none;
  outline: none;
  transition: opacity 0.4s;
}
.card__delete-icon{
  width: 13px;
}