.card{
  padding: 8px 10px;
  margin: 0 10px;
  min-height: 20px;

  word-wrap: break-word;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  border-radius: 3px;
  margin-bottom: 8px;
  background-color: white;
}